@font-face {
  font-family: "BSFont";
  src: url('../../styles/fonts/bs.eot');
  src: url('../../styles/fonts/bs.woff');
}

// $icon-plus: "\e91c"
// $icon-plus-2: "\e91d"
// $icon-gear: "\e91b"
// $icon-translate: "\e91a"
// $icon-eye: "\e919"
// $icon-preview: "\e918"
$icon-video: "\e917";
$icon-presentation: "\e916";
$icon-text: "\e90f";
$icon-image: "\e915";
$icon-interactive-video: "\e914";
$icon-image-hotspots: "\e913";
// $icon-branching-question: "\E902"
// $icon-zoom-in: "\e912"
// $icon-zoom-out: "\e911"
// $icon-fit-to-canvas: "\e910"
// $icon-edit: "\e90e"
// $icon-delete: "\e90d"
// $icon-menu: "\e90c"
// $icon-settings: "\e900"
// $icon-help: "\e90b"
// $icon-close: "\e90a"
// $icon-arrow-down: "\e909"
$icon-info: "\e908";
// $icon-end-scenario: "\e907"
// $icon-go-to-existing: "\e906"
// $icon-full-screen-open: "\e903"
// $icon-full-screen-close: "\e904"
// $icon-no-preview: "\e905"
// $icon-metadata: "\e901"
