// Material design icons
$icon-plus: "\e5CD";
$icon-plus-2: "\e145";
$icon-gear: "\e8b8";
$icon-close: "\e5cd";

$icon-video: "\e04b";
$icon-presentation: "\e63b";
$icon-text: "\e264";
$icon-image: "\e3c4";
$icon-interactive-video: "\e63a";
$icon-image-hotspots: "\e913";

$icon-zoom-in: "\e8ff";
$icon-zoom-out: "\e900";
$icon-fit-to-canvas: "\e5d0";

$icon-edit: "\e3c9";
$icon-delete: "\e872";
$icon-menu: "\e5d2";
$icon-help: "\e8fd";
$icon-close: "\e5cd";
$icon-preview: "\e41b";
$icon-no-preview: "\e8f5";

$icon-info: "\e88f";
$icon-end-scenario: "\e153";
$icon-go-to-existing: "\e627";

$icon-translation: "\e8e2";
$icon-tutorial: "\e8fd";

// bs custom icons
$icon-copy: "\e920";
$icon-paste: "\e921";
$icon-branching-question: "\e902";
$icon-metadata: "\e901";
$icon-full-screen-open: "\e903";
$icon-full-screen-close: "\e904";

// Icons that always should be rotated
@mixin icon-go-to-existing() {
  font-family: "Material Icons";
  content: $icon-go-to-existing;
  border-radius: 50%;
  padding: 0.1em;
  color: #fff;
  font-weight: normal;
  background: linear-gradient(0deg, #b83737 1%, #e8668d 100% );
  box-shadow: 0px 3px 6px rgba(0,0,0,0.4);
}