@import '../../../styles/components/icons.scss';

.confirmation-dialog-header .icon-delete:before {
    font-family: "Material Icons";
    content: $icon-delete;
    font-size: 1.3rem;
    margin-right: 0.5em;
}
