.confirmation-dialog {
  position: absolute;
  width: 90%;
  max-width: 80rem;
  max-height: 80%;
  top: 50%;
  left: 50%;
  background: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
  transition: all 5s ease-in-out;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  font-size: 1em;
  z-index: 61;
}

.confirmation-dialog-header {
  padding: 1.5rem;
  border-bottom: 0.042rem solid #EEC;
  flex: 0 1 auto;
  align-items: center;
  display: flex;
}

.confirmation-dialog-body {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 auto;

  .confirmation-question {
    margin-top: 0;
  }

  .confirmation-details {
    background-color: #d9eaf4;
    border-color: #c3e3ee;
    color: #335cb4;
    margin: 0.7rem 0;
    padding: 0.85rem;
    font-size: 0.85rem;

    p {
      margin: 0;
    }

    ul {
      margin: 0;
      list-style-type: none;
      padding-left: 0;
    }
    ul > li:before {
      content: "- ";
      text-indent: -5px;
    }
    ul > li {
    }
  }

  .dialog-buttons {
    display: flex;
    margin-top: 1rem;
  }

  .dialog-confirm {
    margin-right: 0.2em;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
    color: #fff;
    background-color: #1773DA;
    border: solid 2px #1773DA;

    &:hover {
      background-color: #1567c3;
    }
  }

  .dialog-cancel {
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
    color: #363b42;

    &:hover {
      background-color: #dbdee3;
    }
  }
}
