@import '../../../styles/base/colours';

.confirmation-dialog {
  position: absolute;
  width: 90%;
  max-width: 50rem;
  max-height: 80%;
  top: 50%;
  left: 50%;
  background: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
  transition: all 5s ease-in-out;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  font-size: 1em;
  z-index: 61;
}

.confirmation-dialog-header {
  padding: 1rem 1rem 1rem 1.5rem;
  border-bottom: 0.042rem solid #EEC;
  flex: 0 1 auto;
  align-items: center;
  display: flex;

  .header-text {
    font-weight: bold;
  }
}

.confirmation-dialog-body {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 auto;
  
  .confirmation-dialog-body-split{
    display: flex;
    .confirmation-dialog-body-left-content{
        flex-grow: 1;
        flex-basis: 0;
    }
    .confirmation-dialog-body-right-content{
        flex-grow: 1;
        flex-basis: 0;
        margin-left: 1rem;
        img{
            width: 100%;
        }
    }
  }

  .confirmation-question {
    margin-top: 0;
  }

  .confirmation-details {
    background-color: #fffcdb;
    border: solid 1px #f7f4d0;
    color: #8a6d3b;

    margin: 0.7rem 0;
    padding: 0.85rem;
    font-size: 0.85rem;

    p {
      margin: 0;
    }

    ul {
      margin: 0;
      list-style-type: none;
      padding-left: 0;
      max-height: 6.5em;
      overflow: auto;
    }
    ul > li:before {
      content: "- ";
      text-indent: -5px;
    }
    ul > li {
    }
  }

  .dialog-buttons {
    display: flex;
    margin-top: 1rem;
  }

  .dialog-confirm {
    margin-right: 0.2em;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
    color: #fff;
    background-color: #1773DA;
    border: solid 2px #1773DA;

    &:hover {
      background-color: #1567c3;
    }
  }

  .dialog-confirm-red {
    margin-right: 0.2em;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
    color: #fff;
    background-color: #E40C29;
    border: solid 2px #E40C29;

    &:hover {
      background-color: #c71129;
      border-color: #c71129;
    }

    &:active {
      background-color: #b90b22;
      border-color: #b90b22;
    }
  }

  .dialog-cancel {
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
    color: $col1;

    &:hover {
      background-color: #dbdee3;
    }
  }
}
