@font-face {
  font-family: "BSFont";
  src: url('../styles/fonts/bs.eot');
  src: url('../styles/fonts/bs.woff');
}

@font-face {
  font-family: "CopyPaste";
  src: url('../styles/fonts/copypaste.eot');
  src: url('../styles/fonts/copypaste.woff');
}