@import '../../../styles/base/colours';

.h5p-branchingscenario-editor {
  .loading-wrapper {
    text-align: center;
    padding: 2em;
  }

  .loading-graphics {
    width: 5em;
  }

  .loading-text {
    font-size: 2em;
    color: $accent-col;
    padding: 1em;
  }
}