.h5p-branchingscenario-editor {

  .scene-selector {
    padding: 0.8em;
    border: 1px solid #d0d0d1;
    font-size: 0.9em;
    border-radius: 0.2em;
    background: #fff;
    margin-top: 1em;
  }
}