.preview-wrapper {
  max-width: 60em;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.preview-container {
  overflow: auto;
  max-height: calc(100% - 3.15em);
  background: #fff;
  min-height: 40em;
}