.h5p-branchingscenario-editor {

  .preview-scene-selection-wrapper {
    text-align: center;
    padding: 2em;
  }

  .scene-selector {
    padding: 0.8em;
    border: 1px solid #d0d0d1;
    font-size: 0.9em;
    border-radius: 0.2em;
    background: #fff;
  }
}
