@import '../../styles/components/icons.scss';

.draggable {
  overflow: hidden;
  position:absolute;
  height: 2rem;
  box-sizing: border-box;
  background: #2B2F36;
  padding: 0.5rem;
  margin-bottom: 0.5rem;

  font-size: 0.7rem;
  font-weight: 400;

  list-style-type: none;
  cursor: pointer;
  line-height: 0.875rem;
  color: #e9ebee;
  border: solid 1px #2B2F36;
  border-radius: 3px;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:before {
    font-family: "BSFont";
    display: block;
    float: left;
    padding-bottom: 0.2rem;
    font-size: 0.875rem;
    margin-right: 0.6rem;
  }
  
  &.Text:before {
    content: $icon-text;
  }

  &.Image:before {
    content: $icon-image;
  }

  &.ImageHotspots:before {
    content: $icon-image-hotspots;
  }

  &.InteractiveVideo:before {
    content: $icon-interactive-video;
  }

  &.Video:before {
    content: $icon-video;
  }
}

