@import '../../fonts/roboto.scss';
@import '../../styles/main.scss';

.h5p-hub {
  max-width: 960px;
}
.bswrapper {
  font-family: 'H5PRoboto';
  font-size: 1rem;
}
.editor-overlay-content,
#translate-interface > .tab-view-white-box,
#metadata .h5p-metadata-wrapper {
  font-family: "Open Sans",sans-serif;
}

.h5peditor.h5p-branchingscenario-editor > .h5peditor-form {
  padding: 0;
}
.tree.h5peditor-semi-fullscreen {
  border: 0;
  height: 100%;
}
.topbar {
  background: $col6;
  color: $main-grey;
  width: 100%;
  display: flex;
  align-items: center;

  & > .field.text {
    margin: 0;

    .h5p-editor-flex-wrapper,
    .h5peditor-field-description,
    .h5p-errors {
      display: none;
    }

    input.h5peditor-text {
      background: #000;
      padding: 0.53em 0.5em;
      color: $main-grey;
      border: solid 1px $col6;
      margin: 0.47em 0em 0.47em 3.2em;
      min-width: 15.3em;
      max-width: 25em;
      font-size: 0.9375em;
      min-height: auto;
      flex-shrink: 1;
      flex-grow: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        border-color: #575b61;
      }

      &:focus {
        border: solid 1px #8fc3ff;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 1), 0 0 8px rgb(81, 192, 255);
      }
    }
  }
}

.fullscreen-button {
  cursor: pointer;
  text-align: center;
  width: 3em;
  padding: 0.8125em 0;
  line-height: 1;
  flex-grow: 0;
  min-width: 3em;
  position: absolute;

  &:before {
    font-family: "bs";
    font-size: 1.3em;
    content: $icon-full-screen-close;
  }
  &.active:before {
    content: $icon-full-screen-open;
  }
}

.field-name-extraTitle {
  flex-grow: 1;
}

.proceed-button {
  cursor: pointer;
  background: $success-col;
  color: white;
  text-transform: uppercase;
  font-size: 0.875em;
  font-weight: bold;
  padding: 0.47em 0.75em;
  border-radius: 0.25em;
  flex-shrink: 0;
  margin-right: 0.4em;
  margin-left: 0.4em;
}
.bswrapper {
  height: 100%;
}
.link-look {
  color: $accent-col;
  cursor: pointer;
}
