@import '../../fonts/roboto.scss';
@import '../../styles/main.scss';

.h5p-hub {
  max-width: 960px;
}
.bswrapper {
  font-family: 'H5PRoboto';
  font-size: 1rem;
}

.bswrapper.preview {
  .topbar {
    background: $bq-background;
  }
}

.editor-overlay-content,
#translate-interface > .tab-view-white-box,
#metadata .h5p-metadata-wrapper {
  font-family: "Open Sans",sans-serif;
}

.h5peditor.h5p-branchingscenario-editor > .h5peditor-form {
  padding: 0;
}
.tree.h5peditor-semi-fullscreen {
  border: 0;
  height: 100%;
}
.topbar {
  background: $col6;
  color: $main-grey;
  width: 100%;
  display: flex;
  align-items: center;

  & > .field.text {
    margin: 0;

    .h5p-editor-flex-wrapper,
    .h5peditor-label-wrapper,
    .h5peditor-field-description,
    .h5p-errors {
      display: none;
    }

    input.h5peditor-text {
      background: rgba(0, 0, 0, 0.5);
      padding: 0.53em 0.5em;
      color: white;
      border: solid 1px $col6;
      margin: 0.47em;
      min-width: 15.3em;
      max-width: 25em;
      font-size: 0.9375em;
      min-height: auto;
      flex-shrink: 1;
      flex-grow: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        border-color: #575b61;
      }

      &:focus {
        border: solid 1px #8fc3ff;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 1), 0 0 8px rgb(81, 192, 255);
      }
    }
  }
}

.fullscreen-button {
  cursor: pointer;
  text-align: center;
  width: 3em;
  padding: 0.8125em 0;
  line-height: 1;
  flex-grow: 0;
  min-width: 3em;
  transition: background 0.2s linear;
  color: #fff;

  &:hover {
    background: #363b42;
  }

  &:before {
    font-family: "bs-editor";
    font-size: 1.3em;
    content: $icon-full-screen-close;
  }
  &.active:before {
    content: $icon-full-screen-open;
  }
}

.bswrapper.preview .fullscreen-button:hover {
  background: #0d396c;
}

.field-name-extraTitle {
  flex-grow: 1;
}

.proceed-button {
  cursor: pointer;
  background: #166df7;
  color: white;
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em 1em;
  border-radius: .208em;
  flex-shrink: 0;
  margin-right: 0.4em;
  margin-left: 0.4em;
  transition: background 0.2s linear;

  &:hover {
    background: #0f56e5;
  }
}

.preview-button {
  cursor: pointer;
  background: transparent;
  color: white;
  border: none;
  text-transform: uppercase;
  font-size: 0.875em;
  font-weight: bold;
  padding: 0.47em 0.75em;
  margin-right: 0.4em;
  margin-left: 0.4em;
  border-radius: 0.25em;
  transition: background 0.2s linear;

  &[disabled] {
    cursor: default;
    opacity: 0.25;
  }
}

.preview-button:not([disabled]):hover {
  background: #363b42;
}

.preview-button.back:hover {
  background: #0d396c;
}

.preview-button:before {
  font-family: "Material Icons";
  content: $icon-preview;
  font-size: 1.1em;
  padding-right: 0.75em;
  vertical-align: text-bottom;
  font-weight: normal;
}

.preview-button.back:before {
  content: $icon-edit;
}

.bswrapper {
  height: 100%;

  &.tour {
    background: #000;
  }

  &.content-node-tour {
    .content-type-menu{
      background: #000;
    }
    .info-container-buttons {
      background-color: #363b42;
      pointer-events: none;
    }
  }

  &.branching-node-tour {
    .content-type-menu{
      background: #000;
    }
    .branching-container-buttons {
      background-color: #363b42;
      pointer-events: none;
    }
  }
}
.link-look {
  color: $accent-col;
  cursor: pointer;
}

.tour-fade {
  opacity: 0.15;
  pointer-events: none;
}
.tour-active {
  pointer-events: none;
}

.tour-box {
  position: absolute;
  width: 1em;
  height: 1em;
  border: 2px solid #8a24f3;
  z-index: 110;
  &.right-top{
    .tour-circle {
      top: 0;
      left: 92%;
    }
    .tour-dialog{
      top: 0;
      left: 126%;
  
      &:after{
        left: 0;
        top: 2%;
      }
    }
  }
}
@keyframes flashing1 {
  from {
    background: #8a24f3;
  }
  to {
    background: rgba(138, 36, 243, 0.1);
  }
}
@keyframes flashing2 {
  from {
    background: #fff;
    transform: scale(0.6, 0.6);
  }
  to {
    background: rgba(255, 255, 255, 0.1);
    transform: scale(0.8, 0.8);
  }
}

.tour-circle {
  position: absolute;
  top: 80%;
  left: -80%;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  animation: 1s infinite normal flashing1;

  &:before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: 1s infinite normal flashing2;
  }
  &:after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #8a24f3;
    transform: scale(0.4, 0.4);
  }
}
.tour-dialog {
  position: absolute;
  top: 125%;
  right: -35%;
  background: #8a24f3;
  color: #fff;
  padding: 0.75em 1em;
  width: 16.875em;

  &:after {
    display: block;
    background: #8a24f3;
    content: " ";
    width: 0.75em;
    height: 0.75em;
    position: absolute;
    right: 5%;
    bottom: 100%;
    transform: translateX(-50%) translateY(50%) rotate(45deg);
  }
}
.tour-button {
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
  padding: 0.75em 1em;
  display: inline-block;
  margin-top: 0.75em;
  cursor: pointer;

  &:hover {
    background: #fff;
    color: #8a24f3
  }
}
