@import '../../styles/main.scss';

.startscreen-wrapper {
  width: 100%;
  height: 100%;
  background: $background-gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
}

.startscreen-header {
  text-align: center;

  h1 {
    font-size: 2rem;
    display: block;
    font-weight: 300;
    color: $accent-col;
    margin: 1.6em 0 0.25em 0;
  }

  p {
    font-size: 0.75rem;
    margin-top: 0.3rem;
    display: block;
    color: $dark-gray;
  }
}

.startscreen-footer {
  text-align: center;
  margin-top: 0.3rem;
  margin-bottom: 3.8em;
  font-size: 0.75rem;
  display: block;
  color: #626262;

  a {
    cursor: pointer;
    color: #1773DA;
    text-decoration: underline;
  }
}
