@font-face {
  font-family: "BSFont";
  src: url('../../styles/fonts/bs.eot');
  src: url('../../styles/fonts/bs.woff');
}

.tabs {
  display: flex;
  flex-direction: row;
  height: 55em;
}

.h5peditor-form.h5peditor-fullscreen .tabs {
  height: 100%;
}

.tabs-nav {
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  background: grey;
  list-style-type: none;
  background-color: #191e22;
}

.tabs-nav li {
  padding: 0.75em 0;
  width: 3em;
  box-sizing: border-box;
  text-align: center;
  color: #d1d2d2;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  border-left: solid 3px #191e22;
  border-right: solid 3px transparent;

  &:hover {
    background-color: #363b42;
    border-left-color: #363b42;
    color: #fff;
  }

  &:before {
    font-family: "BSFont";
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 1.3em;
  }

  &.bs-editor-content-tab::before {
    content: "\e91c";
  }

  &.bs-editor-settings-tab::before {
    content: "\e91b";
  }

  &.bs-editor-translations-tab::before {
    content: "\e91a";
  }

  &.bs-editor-tutorial-tab::before {
    content: "\e90b";
  }

  &.bs-editor-metadata-tab::before {
    content: "\e901";
  }
}

.tabs-nav li.active {
  background-color: #F1F3F6;
  border-left-color: #F1F3F6;

  &:before {
    color: #363b42;
  }

  &:hover {
    background-color: #F1F3F6;
    border-left-color: #F1F3F6;
  }
}

.tabs-nav li.has-submenu {
  border-left-color: #191e22;

  &:before {
    color: #d1d2d2;
  }

  &:hover {
    border-left-color: #363b42;
  }
}

.tabs-nav li.has-submenu.active {
  background-color: #363b42;
  border-left-color: #1773DA;

  &:before {
    color: #fff;
  }
}
