#translate-interface fieldset {
  width: 100%;
}

#translate-interface .common-fields-library-wrapper {
  padding: 0 1em 1em;
  box-sizing: border-box;
}

#translate-interface .common-fields-library-wrapper legend {
  display: block;
}