@import '../../styles/main.scss';

.tips{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $tip-bg-col;
  padding: .5rem .8rem;
  position: absolute;
  width: 100%;
  z-index: 1;  
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;

  &::before{
    flex-shrink: 0;
    content: $icon-info;
    font-family: "Material Icons";
    color: $tip-info-icon-col;
    font-size: 1rem;
    padding-right: .5rem;
    font-weight: 600;
  }
}