//primary colors
$col1: #363b42;
$col2: #e9ebee;
$col3: #cccccc;
$background-gray: #F1F3F6;
$dark-gray: #626262;
$col6: #191e22;
$col7: #4d5258;
$col8: #666666;
$col10: #2B2F36;
$col11: #525863;
$col12: #e2e5ee;
$col13: #EF1C38;
$red: #f31635;

$accent-col: #1773DA;

// drag and drop color palette
$draggable-active-border: #fa488c;
$draggable-hover-border: #9ea2a8;
$draggable-replacing-background: #882537;
$drop-zone-background: #c4ddf9;
$drop-zone-highlight-border: #eb2626;
$drop-zone-highlight-background: #f6cfd2;
$bq-background: #396ad1;

//alert box colors
$warning-col: #F2CD5D;
$error-col: #c62828;
$success-col: #52993c;
$info-col: #1773DA;

//tip color
$tip-bg-col: #FFCC00;
$tip-info-icon-col: #121212;
